.call-container {
  padding: 20px;
  text-align: center;
}

.call-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.video-box {
  width: 45%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #555;
}

.end-call-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}

.screen-share-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
